<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Profile</title>


</head>
<body>
    <h1> Hello {{name}} </h1>
    {% if is_topper %}
    <p> You are a topper  don't let the ego take down you, make it habit</p>
    {% else %}
    <p> you have to identify where is the field and improve it radically and do not give up do not be negative </p>
    {% endif %}

    <h3> your subjects</h3>

    <ul>
        {% for subjects in subjects %}
        <li> {{subjects}}</li>
        
        {% endfor %}
    </ul>
</body>
</html>